---
published: true
layout: "global-layout.pug"
seo:
  title: "My Rad Homepage"
  description: "Homepage description"
content:
  quotes:
    - brand: "bhumi"
      quote: "It was refreshing to work with the Outfund team who understood our needs and were practical in their assessment of our growing business."
      name: "Dushyant Baravkar"
    - brand: "bhumi"
      quote: "It was refreshing to work with the Outfund team who understood our needs and were practical in their assessment of our growing business."
      name: "Dushyant Baravkar"
    - brand: "bhumi"
      quote: "It was refreshing to work with the Outfund team who understood our needs and were practical in their assessment of our growing business."
      name: "Dushyant Baravkar"
    - brand: "bhumi"
      quote: "It was refreshing to work with the Outfund team who understood our needs and were practical in their assessment of our growing business."
      name: "Dushyant Baravkar"
    - brand: "bhumi"
      quote: "It was refreshing to work with the Outfund team who understood our needs and were practical in their assessment of our growing business."
      name: "Dushyant Baravkar"
    - brand: "bhumi"
      quote: "It was refreshing to work with the Outfund team who understood our needs and were practical in their assessment of our growing business."
      name: "Dushyant Baravkar"

  brands: 
    - brand: "lemonade"
      quote: Great way to get the funding you need without parting with any more equity!
      founderName: Lemon Fuller
      position: Founder of Lemonade Dolls
    - brand: "feel"
      quote: I invested in repeatable growth and grew subscriptions by 4x.
      founderName: Boris Hodakel
      position: Founder of Feel
    - brand: "onto"
      quote: We have doubled in size in the last quarter and are due to double in size again this quarter!
      founderName: Rob Jolly
      position: Founder of ONTO

  faq:
    - question: "How much funding do you offer?"
      answer: "We can deploy between £10,000 and £10,000,000 at a time."
    - question: "How do you calculate my offer?"
      answer: "Outfund securely connects to your existing banking, payment processing, and accounting platforms. Using predictive models, we assess key metrics from your revenue, advertising performance and other third party data to create bespoke funding offers. <br> Our funding is based on your performance. We don't take any equity, meaning we don't dilute you or your investors. Instead, funding is repaid through a simple revenue share."
    - question: "How long does the whole process take?"
      answer: "The entire process (application, offer, approval, sending funds) can be completed in as little as 48 hours."
    - question: "How do I apply?"
      answer: "You can apply in minutes by clicking 'Apply now'. You'll need to be a director of the company you're applying for. You'll need to connect your business bank account, payment processor and company financial accounts. This data will allow us to build your funding offer."
---

  
header.header
  .header__wrapper
    .header__text__wrapper
      h1.header__title <span>The most</span> Sustainable Funding
      p.header__description Outfund gives you everything you need to fuel your business growth with funding from £10k to £10m.
      .header__cta__wrapper
        .cta__wrapper--main
          a.cta--primary(href="/apply") Check eligibility
          .small-text It won't affect your credit score
        //- span or
        //- a.cta--primary(href="/call") Speak to an expert
    .header__image__wrapper
      img(src="homepage-hero.jpg" alt="Homepage hero image" width="421" height="378")

section.section#findOut
  .section__wrapper
    .section__text__wrapper
      h2.section__title Find out <br/> how much you can get
      p.section__description Funding offers are based on your average monthly revenue. Get a quick indication of your eligibility with our easy-to-use calculator.
      h3.section__subtitle Who can apply
      ul.list
        li.list__element 6+ months in business
        li.list__element £10k+ monthly revenue
        li.list__element Business registered in Europe, US or AU

    .section__calculator__wrapper
      //- calculator
      include /partials/_calculator.pug

//- Partners strip
include /partials/_partner-strip.pug

section.section#othersay 
  .section__wrapper 
    .section__header
      h2.section__title What other say
    .section__content
        each quote in content.quotes
          .quote
            .quote__logo
              img(src=("logo-" + quote.brand + ".png") alt=(quote.brand + " logo") height="40" loading="lazy")
            .quote__text=quote.quote
            .quote__profile
              .quote__avatar
                img(src=(quote.brand + "-avatar.png") alt=(quote.logo + " founder profile image") height="40" width="40" loading="lazy")
              .quote__name=quote.name

section.section#notSure
  .section__wrapper
    .section__text__wrapper
      h2.section__title Still not sure <br/> how our funding works?
      h3.section__subtitle--light Speak with our experts today.
      .cta__wrapper
        a.cta--primary(href="/") Schedule a call
    .section__image__wrapper
      img(src="not-sure.jpg" alt="Call center" width="290" height="282")

section.section#howWeCompare
  .section__wrapper 
    .section__header
      h2.section__title How we compare
      p.section__description Founders typically have two ways to fund business growth. Raising equity or getting a bank loan. Both can be valuable options but can mean giving up a piece of your company or agreeing to a personal guarantee.
    .section__table
      include /partials/_comparison-table.pug


section.section#weFund
  .section__wrapper 
    .section__header
      h2.section__title We fund <br> brands like yours
    .section__content
        each brand in content.brands
          div.brand(class="brand__" + brand.brand)
            div.brand__logo
              .sr-only=brand.brand
            div.brand__text=brand.quote
            div.brand__src=brand.src
            div.brand__founderName=brand.founderName
            div.brand__position=brand.position
        .brand.brand__supercharging
          .brand__supercharging__wrapper
            h3 Start supercharging your growth
            a.cta--primary(href="/apply") Check eligibility

section.section#faq
  .section__wrapper 
    .section__header
      h2.section__title Frequently asked questions
    .section__content
      each question in content.faq
        .question-answer
          h3.question-answer__question
            != question.question
          p.question-answer__answer
            != question.answer
      a(href="/faq") Read more FAQs

//- Unmatched service
include /partials/_unmatched-service.pug

//- Global footer
include /partials/_global-footer.pug